@forward 'globals';

@use 'sass:math';

@function rem($pixel) {
    @if math.is-unitless($pixel) {
        @return math.div($pixel, 16)+rem;
    }

    @else {
        @error 'Don\'t use units when using the rem() function; only numbers.';
    }
}

body {
    width: rem(375);

    @media screen and (min-width: 48rem) {
        width: rem(768);

    }
}

.hero {
    margin-bottom: 120px;

    @media screen and (min-width: 48rem) {
        height: rem(700);
        background-image: url('../starter-code/assets/tablet/image-hero@2x.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding-right: 40px;

    }
}

.hero-mobile {
    margin-bottom: 32px;

    @media screen and (min-width:48rem) {
        display: none;
    }
}

.hero-content {
    padding: 0 16px;

    @media screen and (min-width: 48rem) {
        padding: 0;
        width: rem(339);
        height: rem(410);
    }
}

.hero-content p {
    padding: 32px 0;
    color: var(--dk-grey);

    @media screen and (min-width:48rem) {
        padding: 47px 0;
    }
}

.main-content {
    margin: 0 16px 120px;

    @media screen and (min-width:48rem) {
        margin: 0 40px 120px;
    }
}

.row1 {
    @media screen and (min-width:48rem) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.grid-text-1 {
    margin: 25px 0 32px;

    @media screen and (min-width:48rem) {
        order: -1;
        margin: 0;
        width: rem(223);
        height: rem(299);
    }
}

.grid-text-1 p {
    margin-top: 21px;
    color: var(--dk-grey);
}

.grid1-img {
    width: 343px;
    height: 320px;

    @media screen and (min-width:48rem) {
        height: 400px;
        width: 398px;
    }
}

.main-grid {
    @media screen and (min-width:48rem) {
        display: grid;
        grid-template-columns: 398px 280px;
        grid-template-rows: 313px 396px;
        gap: 11px
    }

}

.grid-img-2 {
    width: 343px;
    height: 480px;
    background-image: url('../starter-code/assets/mobile/image-grid-2@2x.jpg');
    background-size: cover;

    @media screen and (min-width:48rem) {
        margin: 0;
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 1/3;

        background-image: url('../starter-code/assets/tablet/image-grid-2@2x.jpg');

    }
}

.grid-img-3 {
    width: 343px;
    height: 200px;
    margin: 16px 0;
    background-image: url('../starter-code/assets/mobile/image-grid-3@2x.jpg');
    background-size: cover;

    @media screen and (min-width:48rem) {
        margin: 0;
        width: 100%;
        height: 100%;
        grid-column: 2;
        grid-row: 1;

        background-image: url('../starter-code/assets/tablet/image-grid-3@2x.jpg');
    }
}

.grid-text-2 {
    min-height: 293px;
    background-color: var(--almost-black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 24px;

    @media screen and (min-width:48rem) {
        width: 100%;
        height: 100%;
        grid-column: 2;
        grid-row: 2;
        padding: 85px 28px;
    }
}

footer {
    height: rem(336);
    padding: 48px 32px;

    @media screen and (min-width:48rem) {
        height: rem(216);
        padding: 56px 40px;
    }
}

.home-footer {
    background-color: var(--almost-black);
    color: var(--white);
}

.footer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    @media screen and (min-width:48rem) {
        flex-direction: row;
    }
}

.footer-address {

    @media screen and (min-width:48rem) {
        width: rem(281);
    }
}

.soc-link {
    margin-right: 20px;
}

.soc-link:last-of-type {
    margin-right: 0;
}

//location page
.loc-hero {
    height: 550px;
    background-image: url('../starter-code/assets/mobile/image-map@2x.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width:48rem) {
        height: 600px;
        background-image: url('../starter-code/assets/tablet/image-map@2x.png');
    }
}

.location {
    height: rem(493);
    background-color: var(--almost-black);
    color: var(--white);
    padding: 48px 16px 56px;

    @media screen and (min-width:48rem) {
        display: flex;
        padding: 88px 40px 80px;
        height: rem(436);
    }
}

.loc-content {
    padding-left: 105px;
}

.street-address {
    margin-bottom: 20px;
}


.loc-footer {
    background-color: var(--beige);
    color: var(--almost-black);
}