@forward 'globals';

@use 'sass:math';

@function rem($pixel) {
    @if math.is-unitless($pixel) {
        @return math.div($pixel, 16)+rem;
    }

    @else {
        @error 'Don\'t use units when using the rem() function; only numbers.';
    }
}

body {
    width: rem(375);

    @media screen and (min-width: 48rem) {
        width: rem(768);
    }

    @media screen and (min-width: 80rem) {
        width: 100%;
        min-width: rem(1440);
    }
}


.hero {
    margin-bottom: 120px;

    @media screen and (min-width: 48rem) {
        height: rem(700);
        background-image: url('../starter-code/assets/tablet/image-hero@2x.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    @media screen and (min-width: 80rem) {
        margin: 0 auto 180px;
        max-width: 1440px;
        height: rem(800);
        background-image: url('../starter-code/assets/desktop/image-hero@2x.jpg');
        background-position: center;
    }
}

.hero-container {
    @media screen and (min-width: 48rem) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding-right: 40px;
    }

    @media screen and (min-width: 80rem) {
        justify-content: flex-start;
        padding: 0;
    }
}

.blk-background {
    @media screen and (min-width: 80rem) {
        background: linear-gradient(90deg, #000 50%, #fff 0%);
    }

}

.hero-mobile {
    margin-bottom: 32px;

    @media screen and (min-width:48rem) {
        display: none;
    }
}

.hero-content {
    padding: 0 16px;

    @media screen and (min-width: 48rem) {
        padding: 0;
        width: rem(339);
        height: rem(410);
    }

    @media screen and (min-width: 80rem) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 190px 165px 0;
    }
}

.hero-content p {
    padding: 32px 0;
    color: var(--dk-grey);

    @media screen and (min-width:48rem) {
        padding: 47px 0;
    }

    @media screen and (min-width: 80rem) {
        padding-top: 0;
        padding-bottom: 64px;
    }
}

.hero-text {
    width: rem(350);
}

.main-content {
    margin: 0 auto 120px;
    padding: 0 16px;

    @media screen and (min-width:48rem) {
        padding: 0 40px;
    }

    @media screen and (min-width: 80rem) {
        max-width: rem(1920);
        margin: 0 auto 180px;
        padding: 0 165px;
    }
}

.row1 {
    @media screen and (min-width:48rem) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 11px;
    }

    @media screen and (min-width: 80rem) {
        margin-bottom: 30px;
    }
}

.text-1 {
    margin: 25px 0 32px;

    @media screen and (min-width:48rem) {
        order: -1;
        margin: 0;
        width: rem(223);
        height: rem(299);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
    }

    @media screen and (min-width: 80rem) {
        width: 43%;
        padding-right: 125px;

    }
}

.text-1 p {
    margin-top: 21px;
    color: var(--dk-grey);
}

.img1-container {
    width: rem(343);
    height: rem(320);

    @media screen and (min-width:48rem) {
        height: rem(400);
        width: rem(398);
    }

    @media screen and (min-width: 80rem) {
        width: 57%;
        height: auto;

    }

    .grid1-img {
        width: 100%;
    }
}

.main-grid {
    @media screen and (min-width:48rem) {
        display: grid;
        grid-template-columns: rem(398) rem(280);
        grid-template-rows: rem(313) rem(396);
        gap: 11px
    }

    @media screen and (min-width: 80rem) {
        min-height: rem(720);
        max-height: rem(1027);
        grid-template-columns: 57% 40%;
        grid-template-rows: 40% 57%;
        gap: 3%;
    }

}

.img2-container {
    width: 343px;
    height: 480px;


    @media screen and (min-width:48rem) {
        margin: 0;
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 1/3;
    }
}

.img2 {
    width: 100%;
    height: 100%;
}

.img3-container {
    width: 343px;
    height: 200px;
    margin: 16px 0;


    @media screen and (min-width:48rem) {
        margin: 0;
        width: 100%;
        height: 100%;
        grid-column: 2;
        grid-row: 1;
    }
}

.img3 {
    width: 100%;
    height: 100%;
}

.text-2 {
    min-height: 293px;
    background-color: var(--almost-black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 24px;

    @media screen and (min-width:48rem) {
        width: 100%;
        height: 100%;
        grid-column: 2;
        grid-row: 2;
        padding: 85px 28px;
    }

    @media screen and (min-width: 80rem) {
        justify-content: center;
        padding: 65px 48px;
    }

    @media screen and (min-width:106rem) {
        padding-right: 140px;
        padding-left: 65px;
    }
}

.text-2 h2 {
    @media screen and (min-width: 80rem) {
        margin-bottom: 32px;
    }
}

//footer

footer {
    height: rem(336);
    padding: 48px 32px;

    @media screen and (min-width:48rem) {
        height: rem(216);
        padding: 56px 40px;
    }

    @media screen and (min-width:80rem) {
        height: rem(244);
        padding: 0;
    }
}

.home-footer {
    background-color: var(--almost-black);
    color: var(--white);
}

.footer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    @media screen and (min-width:48rem) {
        flex-direction: row;
    }

    @media screen and (min-width:80rem) {
        max-width: rem(1920);
        margin: auto;
        padding: 80px 165px;
    }
}

.logo-svg {
    @media screen and (min-width:80rem) {
        width: 160px;
    }
}

.footer-address {

    @media screen and (min-width:48rem) {
        width: rem(281);
    }

    @media screen and (min-width:80rem) {
        width: rem(430);
        margin-right: 100px;
    }
}

.soc-link {
    margin-right: 20px;
}

.soc-link:last-of-type {
    margin-right: 0;
}

//location page

.loc-main {
    margin: auto;
}

.loc-hero {
    margin: auto;
    height: 550px;
    background-image: url('../starter-code/assets/mobile/image-map@2x.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width:48rem) {
        height: 600px;
        background-image: url('../starter-code/assets/tablet/image-map@2x.png');
    }

    @media screen and (min-width:80rem) {
        background-image: url('../starter-code/assets/desktop/image-map@2x.png');
        background-size: cover;
        background-position: center;
        max-width: rem(1920);
    }

    @media screen and (min-width:106rem) {
        height: rem(900);
    }
}

.location {
    height: rem(493);
    background-color: var(--almost-black);
    color: var(--white);
    padding: 48px 16px 56px;
    margin: auto;

    @media screen and (min-width:48rem) {
        display: flex;
        padding: 88px 40px 80px;
        height: rem(436);
    }

    @media screen and (min-width:80rem) {
        padding: 105px 165px 130px;
        height: rem(548);
        max-width: rem(1920);
    }

}

.loc-content {
    padding-left: 105px;

    @media screen and (min-width:80rem) {
        padding-left: 325px;
    }
}

.street-address {
    margin-bottom: 20px;
}


.loc-footer {
    background-color: var(--beige);
    color: var(--almost-black);
    margin: auto;
    max-width: rem(1920);
}